[user]
	name = Taro Uraoka
	email = turaoka@pasonatquila.com
[core]
	excludesfile = /Users/tarot/.gitignore_global
	autocrlf = input
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
